html, body {
  width: 100%;
  border: 0;
  padding: 0px;
  margin: 0px;
}

#header {
    background-image: url('themes/itunes/images/header.png');
    background-repeat: repeat-x;
    height:70px;
    font-effect: engrave;
}

#search-results {
    border: 0px;
    border-width: 0px;
    border-collapse: collapse;
    width: 100%;
}

#search-results tr td {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #DFE9DF
}


#search-results tbody tr:hover{
    background-color: #4B95E5;
    color: white;
}

.odd {
    background-color: #F2F5F9
}

thead {
    text-align: left;
    background-image: url('themes/itunes/images/table-header.png');
    background-repeat: repeat-x;
}

thead th:hover {
    background-image: url('themes/itunes/images/table-header-selected.png');
    background-repeat: repeat-x;
}

th {
    height: 22px;
}

.column-header {   
}

.header-title {
    float: left;
}

.spacer 
{
    float: left;
    background-image: url('themes/itunes/images/spacer.png');
    background-repeat: no-repeat;
    width: 9px; 
    height: 9px; 
    margin: 0;
    padding: 0;
}

.sort-none 
{
    float: left;
    background-image: url('themes/itunes/images/spacer.png');
    background-repeat: no-repeat;
    width: 9px; 
    height: 9px; 
    margin: 0;
    padding: 0;
}

.sort-asc 
{
    float: left;
    background-image: url('themes/itunes/images/arrow-down.png');
    background-repeat: no-repeat;
    width: 9px; 
    height: 9px; 
    margin: 0;
    padding: 0;
}

.sort-desc 
{
    float: left;
    background-image: url('themes/itunes/images/arrow-up.png');
    background-repeat: no-repeat;
    width: 9px; 
    height: 9px; 
    margin: 0;
    padding: 0;
}

.filter-on 
{
    float: left;
    background-image: url('themes/itunes/images/filter-on.png');
    background-repeat: no-repeat;
    width: 10px; 
    height: 10px; 
    margin: 0;
    padding: 0;
}

.filter-off 
{
    float: left;
    background-image: url('themes/itunes/images/filter-off.png');
    background-repeat: no-repeat;
    width: 10px; 
    height: 10px; 
    margin: 0;
    padding: 0;
}

tfoot {
    background-image: url('themes/itunes/images/table-footer.png');
    background-repeat: repeat-x;
}

#search-results tfoot tr td {
    height: 53px;
    border-bottom-style: none;
    border-bottom-width: 0px;
}

#footer {
    background-image: url('themes/itunes/images/table-footer.png');
    background-repeat: repeat-x;
    height: 53px;
    width: 100%;
}